---
layout: main.njk
---

<style>
    body {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
    }

    .white {
        background-color: #fff;
    }

    .blue {
        background-color: #0073D2;
    }
</style>

<div class="white"></div>
<div class="blue"></div>
<div class="white"></div>
